/* styles.css */
body {
  margin: 0; /* Eliminar márgenes por defecto */
  padding: 0; /* Eliminar relleno por defecto */
  box-sizing: border-box; /* Asegurarse de que el box-sizing sea border-box */
}

nav {
  background-color: rgba(44, 0, 80, 0.842); /* Color azul para el fondo del nav */
  padding: 15px; /* Espaciado interno del nav */
  position: fixed; /* Fijar el nav en la parte superior */
  top: 0; /* Posición en la parte superior */
  left: 0; /* Posicionar el nav desde el borde izquierdo */
  width: 100%; /* Abarcar todo el ancho de la pantalla */
  z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
  display: flex; /* Usar flexbox para alinear elementos */
  justify-content: center; /* Centrar horizontalmente los elementos */
  align-items: center; /* Centrar verticalmente los elementos */
  color: white;
}

.nav-text {
  margin-right: 950px; /* Adjust the value as needed */
}

.nav-header {
  display: flex;
  align-items: center;
}

.nav-icon {
  width: 50px; /* Ajusta el tamaño del ícono */
  height: 50px; /* Ajusta el tamaño del ícono */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

nav a {
  text-decoration: none;
  margin: 0 5px; /* Espaciado entre los enlaces */
  font-size: 15px; /* Tamaño de la fuente */
  color: rgb(255, 255, 255); /* Color de texto blanco */
}

nav a.active {
  font-weight: bold; /* Haz que el texto activo sea más audaz */
}

nav a.active[href="/python"] {
  color: #30b1b1; /* Azul cielo para Python */
  font-weight: bold; /* Haz que el texto activo sea más audaz */
}

nav a.active[href="/html"] {
  color: #ff6200; /* Anaranjado para HTML */
  font-weight: bold; /* Haz que el texto activo sea más audaz */
}

nav a.active[href="/javascript"] {
  color: yellow; /* Amarillo para JavaScript */
  font-weight: bold; /* Haz que el texto activo sea más audaz */
}


nav a.active[href="/kotlin"] {
  color: #e45ae4; /* Morado claro para Kotlin */
  font-weight: bold; /* Haz que el texto activo sea más audaz */
}

  nav a.active[href="/C++"] {
    color: #4e4a14; /* Morado claro para Kotlin */
    font-weight: bold; /* Haz que el texto activo sea más audaz */
}

nav a.active[href="/Archivos"] {
  color: #41d32e; /* Morado claro para Archivos */
  font-weight: bold; /* Haz que el texto activo sea más audaz */
}